body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.right {
  float: right;
  width: 130px;
  margin-right: 325px;
}
.left {
  float: left;
  padding:0px 0px 0px 20px ;
}
.user{
  color:white;
  margin-left: 10px;
}
.headerLeft{
    float:left;
    width:250px;
    margin-left: 40px;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25% /*Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
